.container{
    position: relative;
    display: inline-block;
    line-height: 0;
}
img{
    height: 70vh;
    width: 40vw;
    margin: 25vw 25vw  20vh 50vh;
    padding: 60px 60px;
   margin-top: 10px;
   border-radius: 10px;
}
.button{
    height:5vw;
    width: 40vw;
    border-radius: 9px;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #bd1dad;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    top: 74%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
button:hover{
    background-color: rgb(34, 45, 45);
}